/* ---------- FORM ---------- */
.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form_container {
  width: 24rem;
  max-width: 90%;
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.375rem;
}

.form_group {
  margin-bottom: 0.5rem;
}

.profile_group {
  margin-bottom: 0.5rem;
}
/* -------------------------- */

.backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(208, 208, 208, 0.3);
}

.todo-content {
  padding-top: 80px;
  width: 100%;
  display: flex;
}

.title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page-container {
  width: 100%;
  display: flex;
}